body{
	background-color: whitesmoke;
}
h1{
 	font-size: 30px;
 	color: salmon;
 }
 h2{
 	color: hotpink;
 	font-size: 
 }
 .big{
 	font-size: 40px;
 	color: red;
 }
 .up{
 	font-size: 80px;
 	color: purple;
 	text-transform: uppercase;
 }
 h1 span{
 	color: violet;
 	font-size: 40px;
 }