body{
	margin: 0;
	padding: 0 auto;
	font-family: Airal, sans-serif;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: orange;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;

}


header h1{
	color: black;
	font-family: Airal, sans-serif;

}



header img{
	border-radius: 250px;
	width: 300px;
	border: 20px solid aqua;


}

main{
	max-width: 800px;
	margin: 0 auto;
    padding: 20px;
}

main img{
	max-width: 100%;
}
h2{
	font-size: 25px;
	color: black;
}

a{
  color: darkred;
}
a:hover{
	color: orangered;
	backgroudcolor: purple;

}

footer{
		background-color: orange;
	   text-align: center;
	   color: white;


}

footer a{
	color: white;
}

footer a:hover{
	opacity: .10;
	background-color: transparent;
	padding: 50px;
}
footer p{
	margin: 0;
}
p.caption{
	color: red;
	font-style: italic;
	animation-fill-mode: 50%;
}